@model List<Banda>

<h1>Lista de grupos de música</h1>

@foreach(var banda in Model) {
    <h2>@banda.Nombre (@banda.Abreviacion)</h2>
    <img src="@banda.Foto" width="300" />
    <h3>Lista de albumes</h3>

    @foreach(var a in banda.Albumes) {
        <p>@a.Nombre</p>
    }
}
