@model Banda

<h1>Formulario de registro de grupos musicales</h1>

@Html.ValidationSummary()

<form asp-action="RegistroGrupo" method="post">

    <div class="form-group">
        <label>Nombre:</label>
        <input asp-for="Nombre" class="form-control" />
    </div>

    <div class="form-group">
        <label>Abreviación:</label>
        <input asp-for="Abreviacion" class="form-control" />
    </div>

    <div class="form-group">
        <label>Foto:</label>
        <input asp-for="Foto" class="form-control" />
    </div>

    <div class="form-group">
        <button class="btn btn-primary" type="submit">Registrar</button>
    </div>

</form>